# Created by .ignore support plugin (hsz.mobi)
/.idea/
/target/
/src/main/resources/application-online.properties.bak
/src/main/resources/application.properties
/src/main/resources/application-online.properties.bak
/src/main/resources/application.properties
.DS_Store
/data

/logs